<div style="width: 100%; padding: 0; margin: 0; height: 100%; background-color: #2D84DB;">
    <div class="nav-holder">
        <div class="title-holder">
            <h1 class="app-title">TaskFocus</h1>
        </div>
        <div class="nav-buttons">
            <a href="" class="nav-button"> Settings </a>
            <a href="" class="nav-button"> Statistics </a>
            <a href="" class="nav-button"> Login </a>
        </div>
    </div>
</div>




<!-- 
<router-outlet></router-outlet> -->